{% extends "base.html" %}
{% block content %}
    {# Features #}
   
    <!-- End Navbar -->
   


                                              <div class="row">
                                      <div class="col-12">
                                        <div class="card shadow-lg border-success mb-4 p-3 ">
                                          <div class="card-header border-success pb-0">
                                            
                                            <div class="row">
                                              <div class="col-lg-6">
                                                <div class="d-flex flex-column h-100">
                                                  <h5 class="font-weight-bolder">Phonebooks</h5>
                                                  <p class="mb-5">View your Phonebooks</p>
                                                
                                                </div>
                                            </div>
                                          </div>

                                          <div class="card-body px-0 pt-0 pb-2">
                                            <div class="table-responsive p-0">
                                              <table class="table align-items-center mb-0">
                                                <thead>
                                                  <tr>
                                                    <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Name</th>
                                                    <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Number of Contacts</th>
                                                
                                                    <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Actions</th>
                                                    <th class="text-secondary opacity-7"></th>
                                                  </tr>
                                                </thead>
                                                <tbody>


                                                  {% for phonebook in phonebooks %}
                                                  <tr>
                                                    <td>
                                                      <div class="d-flex px-2 py-1">
                                                      
                                                        <div class="d-flex flex-column justify-content-center">
                                                          <h6 class="mb-0 text-sm"><a href="{{url_for('core.phonebook',phonebook_id=phonebook.id)}}">{{phonebook.name}}</a></h6>
                                                        </div>
                                                      </div>
                                                    </td>
                                                    <td>
                                                      <p class="text-xs font-weight-bold mb-0">{{ phonebook.numberofcontacts }}</p>
                                                    </td>
                                                
                                                    <td class="align-middle">
                                                      <a href="javascript:;" class="text-secondary font-weight-bold text-xs" data-toggle="tooltip" data-original-title="Edit user">
                                                
                                                    </td>
                                                    <td class="align-middle">
                                                      <a href="javascript:;" class="text-secondary font-weight-bold text-xs" data-toggle="tooltip" data-original-title="Edit Contact">
                                                        <a href="{{ url_for('core.editphonebook',phonebook_id=phonebook.id) }}" class="btn btn-primary">Edit </a>
                                                        <button data-toggle="modal" data-target="#deletephonebook{{phonebook.id}}"  class="btn btn-danger"><i class="fa fa-edit"></i>Delete</button>
                                                        <div class="modal fade" id="deletephonebook{{phonebook.id}}" tabindex="-1" role="dialog" aria-labelledby="edittestimonial" aria-hidden="true">
                                                          <div class="modal-dialog modal-dialog-centered" role="document">
                                                            <div class="modal-content">
                                                              <div class="modal-header">
                                                                <h5 class="modal-title" id="deletephonebook{{phonebook.id}}">Delete Phone Book</h5>
                                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                                  <span aria-hidden="true">&times;</span>
                                                                </button>
                                                              </div>
                                                              <div class="modal-body">
                                                                <form action="{{ url_for('core.delete_phonebook',phonebook_id=phonebook.id) }}"
                                                                >
                                                                  <input class='btn btn-danger' type="submit" value="Delete">
                                                                  </div>
                                                                </form>
                                                              </div> 
                                                            </div>
                                                          </div>
                                                          </div>                  
                                                       
                                                     
                                                    </td>
                                                  </tr>
                                                  <tr>
                                                    {% endfor %}
                                                    
                                                </tbody>
                                              </table>
                                            </div>
                                          </div>
                                        </div>
                                      </div>
                                    </div>
                              <br>
{% endblock %}