{% extends "base.html" %}
{% block content %}
    <!-- ====== Header End ====== -->

    <!-- ====== Hero Start ====== -->
    

<div id="messNum"></div>

        <div class="container shadow-lg rounded bg-white mt-5 mb-5">

            <div class="card-body shadow-lg rounded ">
            <div class="session-title row">
                 <h2>Send Message</h2>
               
                 <form class="form-group" method="POST" enctype="multipart/form-data">
                    {{ form.hidden_tag() }}
                    <div class="form-group">
                    {{ form.email.label }} {{ form.email() }}<br>
                  </div>
                  <div class="form-group">
                    {{ form.username.label }} {{ form.username() }}<br>
                  </div>
                    <div class="form-group">
                    {{ form.name.label }} {{ form.name() }}<br>
                  </div>
                    <div class="form-group">
                    {{ form.number.label }} {{ form.number() }}<br>
                  </div>
                  <div class="form-group">
                    {{ form.routesms.label }} {{ form.routesms() }}
                  </div>
                    <div class="form-group">
                    {{ form.mnotify.label }} {{ form.mnotify() }}
                  </div>
                  <div class="form-group">
                    {{ form.role.label }} {{ form.role() }}
                  </div>
                 
                   
                    <div class="form-group">
                    {{ form.submit() }}
                  </div>
                  
                 </form>
                            
                    </div>
                  </div>
                    <h2></h2>
               
                       
                     </div>
                     
                     

                 
               
       
         
     
     <div class="col-12">
      <div class="card shadow-lg mb-4 p-3">
        <div class="card-header pb-0">
          
          <div class="row">
            <div class="col-lg-6">
              <div class="d-flex flex-column h-100">
                <h5 class="font-weight-bolder">Users</h5>
                <p class="mb-5">Edit or delete users</p>
              
              </div>
          </div>
        </div>

        <div class="card-body px-0 pt-0 pb-2">
          <div class="table-responsive p-0">
            <table class="table align-items-center mb-0">
              <thead>
                <tr>
                  <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Name</th>
                  <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Username</th>
                  <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Email</th>
                  <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Number</th>
                  <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Balance</th>
                  <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Credit</th>
                  <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">RouteSMS</th>
                  <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Mnotify</th>
                  <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Role</th>

                  <th class="text-left text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Actions</th>
                  <th class="text-secondary opacity-7"></th>
                </tr>
              </thead>
              <tbody>


                {% for user in users %}
                <tr>
                  <td>
                    <div class="d-flex px-2 py-1">
                    
                      <div class="d-flex flex-column justify-content-center">
                        <h6 class="mb-0 text-sm"><a href="{{url_for('core.edituser',user_id=user.id)}}">{{user.name}}</a></h6>
                      </div>
                    </div>
                  </td>

                  <td>
                      <div class="d-flex px-2 py-1">
                      
                        <div class="d-flex flex-column justify-content-center">
                          <h6 class="mb-0 text-sm">{{user.username}}</h6>
                        </div>
                      </div>
                    </td>
                    <td>
                      <div class="d-flex px-2 py-1">
                      
                        <div class="d-flex flex-column justify-content-center">
                          <h6 class="mb-0 text-sm">{{user.email}}</h6>
                        </div>
                      </div>
                    </td>
                    <td>
                      <div class="d-flex px-2 py-1">
                      
                        <div class="d-flex flex-column justify-content-center">
                          <h6 class="mb-0 text-sm">{{user.number}}</h6>
                        </div>
                      </div>
                    </td>
                    <td>
                      <div class="d-flex px-2 py-1">
                      
                        <div class="d-flex flex-column justify-content-center">
                          <h6 class="mb-0 text-sm"><a style="color: blue;" data-toggle="modal" data-target="#topup{{user.id}}">{{user.balance}}</a></h6>
                        </div>
                      </div>
                    </td>
                    <td>
                      <div class="d-flex px-2 py-1">
                      
                        <div class="d-flex flex-column justify-content-center">
                          <h6 class="mb-0 text-sm">{{user.credit}}</h6>
                        </div>
                      </div>
                    </td>
                    <td>
                      <div class="d-flex px-2 py-1">
                      
                        <div class="d-flex flex-column justify-content-center">
                          <h6 class="mb-0 text-sm">{{user.routesms}}</h6>
                        </div>
                      </div>
                    </td>
                    <td>
                      <div class="d-flex px-2 py-1">
                      
                        <div class="d-flex flex-column justify-content-center">
                          <h6 class="mb-0 text-sm">{{user.mnotify}}</h6>
                        </div>
                      </div>
                    </td>
                    <td>
                      <div class="d-flex px-2 py-1">
                      
                        <div class="d-flex flex-column justify-content-center">
                          <h6 class="mb-0 text-sm">{{user.role}}</h6>
                        </div>
                      </div>
                    </td>
             
              
                  <td class="center">
                    <a href="javascript:;" class="text-secondary font-weight-bold text-xs" data-toggle="tooltip" data-original-title="Edit phonebook">
                      <a href="{{ url_for('core.edituser',user_id=user.id) }}" class="btn btn-primary">Edit </a>
                      <button data-toggle="modal" data-target="#topup{{user.id}}"  class="btn btn-danger"><i class="fa fa-edit"></i>Top Up</button>
                      <button data-toggle="modal" data-target="#deletephonebook{{user.id}}"  class="btn btn-danger"><i class="fa fa-edit"></i>Delete</button>
                      <div class="modal fade" id="deletephonebook{{user.id}}" tabindex="-1" role="dialog" aria-labelledby="edittestimonial" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered" role="document">
                          <div class="modal-content">
                            <div class="modal-header">
                              <h5 class="modal-title" id="deletephonebook{{user.id}}">Delete Phonebook?</h5>
                              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                              </button>
                            </div>
                            <div class="modal-body">
                              <p>this will delete all contacts in the phonebook</p>

                              <form action=""
                              >
                                <input class='btn btn-danger' type="submit" value="Delete">
                                </div>
                              </form>
                            </div> 
                          </div>
                        </div>
                        </div>        
                        
                        <div class="modal fade" id="topup{{user.id}}" tabindex="-1" role="dialog" aria-labelledby="topup" aria-hidden="true">
                          <div class="modal-dialog modal-dialog-centered" role="document">
                            <div class="modal-content">
                              <div class="modal-header">
                                <h5 class="modal-title" id="topup{{user.id}}">Top up?</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                  <span aria-hidden="true">&times;</span>
                                </button>
                              </div>
                              <div class="modal-body">
                                <p>Enter amount to top up</p>
  
                                <form action="{{ url_for('core.topup',user_id=user.id) }}" method="POST"> 
                                  {{ form.hidden_tag() }}
                                  <div class="form-group">
                                    {{ form.amount.label }} {{form.amount()}}<br>
                                  </div>
                                  <div class="form-group">
                                    {{form.submit()}}
                                  </div>                                
                                </form>
                              </div> 
                            </div>
                          </div>
                          </div>              
                  </td>
                </tr>
                <tr>
                  {% endfor %}
                  
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  

  
    <!-- ====== Team End ====== -->

   

    <!-- ====== Back To Top Start ====== -->
    <a href="javascript:void(0)" class="back-to-top">
      <i class="lni lni-chevron-up"> </i>
    </a>
    <!-- ====== Back To Top End ====== -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    
    <!-- ====== All Javascript Files ====== -->
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='js/bootstrap.bundle.min.js') }}">

    <script src="{{ url_for('static',filename='js/bootstrap.bundle.min.js') }}"></script>
    <script src="{{ url_for('static',filename='js/wow.min.js') }}"></script>
    <script src="{{ url_for('static',filename='js/main.js') }}"></script>
    <script src="assets/js/bootstrap.bundle.min.js"></script>

    <script src="assets/js/wow.min.js"></script>
    <script src="assets/js/main.js"></script>
    <script>
          <link  type="application/javascript" href="{{ url_for('static',filename='js/bootstrap.bundle.min.js') }}">

  <script src="{{ url_for('static',filename='js/bootstrap.bundle.min.js') }}"></script>
  <script src="{{ url_for('static',filename='js/wow.min.js') }}"></script>
  <script src="{{ url_for('static',filename='js/main.js') }}"></script>
<script>
  function countChar(val) {
    var len = val.value.length;
    if (len >= 150) {
      val.value = val.value.substring(0, 1000);
    } else {
      $('#charNum').text(150 - len);
     
    }
  };

</script>
    </body>
</html>
{% endblock %}