{% extends "base.html" %}
{% block content %}
    {# Features #}
    
    <!-- End Navbar -->
  



      <div class="row mt-4">
        <div class="container shadow-lg rounded bg-white mt-5 mb-5">

          <div class="card-body rounded ">
          <div class="session-title row">
            <h2>Add Contact</h2>  
          </div
             <div class="row">    <a href="{{ url_for('core.uploadcontacts') }}" class="btn btn-primary btn-sm col-sm-3" style="float:right; vertical-align: top;">Upload Contacts</a></div>

             
               <form class="form-group" method="POST" enctype="multipart/form-data">
                  {{ form.hidden_tag() }}
             
                
                  <div class="form-group">
                  {{ form.name.label(class="form-control-label") }}
                  {{ form.name(class="form-control form-control-lg") }}
                  </div>
                  <div class="form-group">
                      {{ form.number.label(class="form-control-label") }}
                      {{ form.number(class="form-control form-control-lg") }}
                      </div>

                      <label for="genre">Pick a Phonebook</label>
                      <select name="phonebook" id="phonebook" class="form-control" required>
                        
                       <option value=""> Select A Phonebook</option>
                       {% for phonebook in phonebooks %}
                       <option value="{{phonebook.id}}">{{phonebook.name}}</option>
                       {% endfor %}<br>
                       </select>
                  <div class="form-group">
                      {{ form.submit(class="btn btn-outline-info") }}
                  </div>
                </div>
              </div>
            </div>
           
                   
        
             
   

                <div class="col-12">
                  <div class="card shadow-lg mb-4 p-3">
                    <div class="card-header pb-0">
                      
                      <div class="row">
                        <div class="col-lg-6">
                          <div class="d-flex flex-column h-100">
                            <h5 class="font-weight-bolder">Contacts</h5>
                            <p class="mb-5">Edit or delete contacts</p>
                          
                          </div>
                      </div>
                    </div>
                    <div class="button-group px-3">

                    <a href="{{ url_for('core.uploadcontacts') }}" class="btn btn-primary btn-sm" style="float:right; vertical-align: top;">Upload Contacts</a>
                    </div>
                    <div class="card-body px-0 pt-0 pb-2">
                      <div class="table-responsive p-0">
                        <form action="{{ url_for('core.delete_batch')}}" method="POST">
                        <table class="table align-items-center mb-0">
                          <thead>
                            <tr>
                              <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7"></th>

                              <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Name</th>
                              <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Number</th>
                          
                              <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Actions</th>
                              <th class="text-secondary opacity-7"></th>
                            </tr>
                          </thead>
                          <tbody>


                            {% for contact in contacts %}
                            <tr>
                              <td><input type="checkbox" name="mycheckbox" value="{{contact.id}}" /></td>

                              <td>
                                <div class="d-flex px-2 py-1">
                                
                                  <div class="d-flex flex-column justify-content-center">
                                    <h6 class="mb-0 text-sm">{{contact.name}}</h6>
                                  </div>
                                </div>
                              </td>
                              <td>
                                <p class="text-xs font-weight-bold mb-0">{{ contact.number }}</p>
                              </td>
                          
                              <td class="align-middle">
                                <a href="javascript:;" class="text-secondary font-weight-bold text-xs" data-toggle="tooltip" data-original-title="Edit Contact">
                                  <a href="{{ url_for('core.editcontact',contact_id=contact.id) }}" class="btn btn-primary">Edit </a>
                                  <button data-toggle="modal" data-target="#deletecontact{{contact.id}}"  class="btn btn-danger"><i class="fa fa-edit"></i>Delete</button>
                                  <div class="modal fade" id="deletecontact{{contact.id}}" tabindex="-1" role="dialog" aria-labelledby="edittestimonial" aria-hidden="true">
                                    <div class="modal-dialog modal-dialog-centered" role="document">
                                      <div class="modal-content">
                                        <div class="modal-header">
                                          <h5 class="modal-title" id="deletecontact{{contact.id}}">Delete Contact</h5>
                                          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                          </button>
                                        </div>
                                        <div class="modal-body">
                                          <form action="{{ url_for('core.delete_contact',contact_id=contact.id) }}"
                                          >
                                            <input class='btn btn-danger' type="submit" value="Delete Selected">
                                            
                                            </div>
                                          </form>
                                        </div> 
                                      </div>
                                    </div>
                                    </div>                  
                                
                              
                              </td>
                              <td><input type="checkbox" name="mycheckbox" value="{{contact.id}}" /></td>


                            </tr>
                            <tr>
                              {% endfor %}
                              
                          </tbody>
                        </table>
                        <input type="submit" value="Delete Selected" />
                        </form>
                      </div>
                    </div>
                  </div>
                </div>
                </div>
                <br>



         
    </div>
<br>







         
        </div>
        </div>
      </div>
    </div>

    
    
      
     

    
{% endblock %}
