{% extends "base.html" %}
{% block content %}
    {# Features #}
   

<div class="row">
{% for package in packages %}
<div class="col-lg-4">

          <div class="card shadow-lg h-100 p-3">
            <div class="overflow-hidden position-relative border-radius-lg bg-cover h-100" style="background-image: url('../assets/img/ivancik.jpg');">
              <span class="mask bg-gradient-dark"></span>
              <div class="card-body position-relative z-index-1 d-flex flex-column h-100 p-3">
                <h5 class="text-white font-weight-bolder mb-4 pt-2">{{package.title}}</h5>
                <p class="text-white"> {{package.features}}</p>
               <p class="text-white">{{package.amount}}</p>
               <a  href=""> <button class=' btn btn-primary btn-sm btn-icon'>Buy</button></a>
               <form method="POST" action="https://checkout.flutterwave.com/v3/hosted/pay">

                <input type="hidden" name="public_key" value="FLWPUBK_TEST-SANDBOXDEMOKEY-X" />
                <input type="hidden" name="customer[email]" value="{{useremail}}" />
                <input type="hidden" name="customer[name]" value="{{name}}" />
                <input type="hidden" name="tx_ref" value="{{tx_reff}}" />
                <input type="hidden" name="amount" value={{package.amount}} />
                <input type="hidden" name="payment_options" value="card, ussd, mobilemoney" />
                <input type="hidden" name="currency" value="NGN" />
                <input type="hidden" name="customer[phone]" value="233551660436" />
                <input type="hidden" name="meta[token]" value="54" />
                <input type="hidden" name="redirect_url" value="http://localhost:5000/confirmravepayment?amount={{package.amount}}&tid={{tid}}" />
              <!----  <a ><button class="btn btn-primary offset-5"><i class="fas fa-download"></i> Book</button></a>-->
              <div class="button-div1"><div class="click-here-div1"><button>Buy</button></div></div>
              </form>

               
              </div>
            </div>
          </div>
        </div>
        <br>
{%endfor%}



         
        </div>
        </div>
      </div>
    </div>

    
    
      
     

    
{% endblock %}
