{% extends "base.html" %}
{% block content %}
    {# Features #}
   
    <!-- End Navbar -->
    <div class="col-xl-3 col-sm-6">
      <div class="card">
        <div class="card-body p-3">
          <div class="row">
            <div class="col-8">
              <div class="numbers">
                <p class="text-sm mb-0 text-capitalize font-weight-bold">SMS REMAINING:</p>
                <h5 class="font-weight-bolder mb-0">
                  <span class="text-success text-sm font-weight-bolder">{{user.credit}}</span>
                </h5>
              </div>
            </div>
            <div class="col-4 text-end">
              <div class="icon icon-shape bg-gradient-primary shadow text-center border-radius-md">
                <i class="ni ni-cart text-lg opacity-10" aria-hidden="true"></i>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
<br>




                                              <div class="row">
                                      <div class="col-12">
                                        <div class="card shadow-lg border-success mb-4 p-3 ">
                                          <div class="card-header border-success pb-0">
                                            
                                            <div class="row">
                                              <div class="col-lg-6">
                                                <div class="d-flex flex-column h-100">
                                                  <h5 class="font-weight-bolder">Messages</h5>
                                                  <p class="mb-5">View past messages</p>
                                                
                                                </div>
                                            </div>
                                          </div>

                                          <div class="card-body px-0 pt-0 pb-2">
                                            <div class="table-responsive p-0">
                                              <table class="table align-items-center mb-0">
                                                <thead>
                                                  <tr>
                                                    <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Message</th>
                                                    <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Number</th>
                                                
                                                    <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Actions</th>
                                                    <th class="text-secondary opacity-7"></th>
                                                  </tr>
                                                </thead>
                                                <tbody>


                                                  {% for message in messages %}
                                                  <tr>
                                                    <td>
                                                      <div class="d-flex px-2 py-1">
                                                      
                                                        <div class="d-flex flex-column justify-content-center">
                                                          <h6 class="mb-0 text-sm"><a href="{{url_for('core.campaignreports',campaign_id=message.api_id)}}">{{message.message}}</a></h6>
                                                        </div>
                                                      </div>
                                                    </td>
                                                    <td>
                                                      <p class="text-xs font-weight-bold mb-0">{{ message.destination_json }}</p>
                                                    </td>
                                                
                                                    <td class="align-middle">
                                                      <a href="javascript:;" class="text-secondary font-weight-bold text-xs" data-toggle="tooltip" data-original-title="Edit user">
                                                        
                                                      
                                                    
                                                    </td>
                                                  </tr>
                                                  <tr>
                                                    {% endfor %}
                                                    
                                                </tbody>
                                              </table>
                                            </div>
                                          </div>
                                        </div>
                                      </div>
                                    </div>
                              <br>
{% endblock %}