{% extends "base.html" %}
{% block content %}
    {# Features #}
 




        

<div class="col-12">
  <div class="card shadow-lg mb-4">
    <div class="card-header pb-0">
      
      <div class="row">
        <div class="col-lg-6">
          <div class="d-flex flex-column h-100">
            <h5 class="font-weight-bolder">Contacts</h5>
            <p class="mb-5">Add,Edit or delete contacts</p>
           
          </div>
      </div>
    </div>
    <div class="button-group px-3">
        <a href="{{ url_for('core.addcontact') }}" class="btn btn-primary btn-sm" style="float:right; vertical-align: top;">Add Contact</a>

        <a href="{{ url_for('core.uploadcontacts') }}" class="btn btn-primary btn-sm" style="float:right; vertical-align: top;">Upload Contacts</a>
        </div>

    <div class="card-body px-0 pt-0 pb-2">
      <div class="table-responsive p-0">
        <table class="table align-items-center mb-0">
          <thead>
            <tr>

                
              <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Name</th>
              <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Number</th>
           
              <th class="text-left text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Actions</th>
            </tr>
          </thead>
          <tbody>


            {% for contact in contacts %}
            <tr>
              <td>
                <div class="d-flex px-2 py-1">
                 
                  <div class="d-flex flex-column justify-content-center">
                    <h6 class="mb-0 text-sm">{{contact.name}}</h6>
                  </div>
                </div>
              </td>
              <td>
                <p class="text-xs font-weight-bold mb-0">{{ contact.number }}</p>
              </td>
           
              <td class="align-middle">
                <a href="javascript:;" class="text-secondary font-weight-bold text-xs" data-toggle="tooltip" data-original-title="Edit Contact">
                  <a href="{{ url_for('core.editcontact',contact_id=contact.id) }}" class="btn btn-primary">Edit </a>
                  <button data-toggle="modal" data-target="#deletecontact{{contact.id}}"  class="btn btn-danger"><i class="fa fa-edit"></i>Delete</button>
                  <div class="modal fade" id="deletecontact{{contact.id}}" tabindex="-1" role="dialog" aria-labelledby="edittestimonial" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered" role="document">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h5 class="modal-title" id="deletecontact{{contact.id}}">Delete FAQ</h5>
                          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                          </button>
                        </div>
                        <div class="modal-body">
                          <form action="{{ url_for('core.delete_contact',contact_id=contact.id) }}"
                          >
                            <input class='btn btn-danger' type="submit" value="Delete">
                            </div>
                          </form>
                        </div> 
                      </div>
                    </div>
                    </div>                  
                 
               
              </td>
            </tr>
            <tr>
              {% endfor %}
              
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
</div>
<br>





    
    
      
     

    
{% endblock %}
