{% extends "base.html" %}
{% block content %}
    {# Features #}
   
    <!-- End Navbar -->




                                              <div class="row">
                                      <div class="col-12">
                                        <div class="card shadow-lg border-success mb-4 p-3 ">
                                          <div class="card-header border-success pb-0">
                                            
                                            <div class="row">
                                              <div class="col-lg-6">
                                                <div class="d-flex flex-column h-100">
                                                  <h5 class="font-weight-bolder">Rates</h5>
                                                  <p class="mb-5">View current rates</p>
                                                
                                                </div>
                                            </div>
                                          </div>

                                          <div class="card-body px-0 pt-0 pb-2">
                                            <div class="table-responsive p-0">
                                              <table class="table align-items-center mb-0">
                                                <thead>
                                                  <tr>
                                                    <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Code</th>
                                                    <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Cost</th>
                                                    <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Country</th>
                                                
                                                    <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Route</th>
                                                    <th class="text-secondary opacity-7"></th>
                                                  </tr>
                                                </thead>
                                                <tbody>


                                                  {% for rate in rates %}
                                                  <tr>
                                                    <td>
                                                      <div class="d-flex px-2 py-1">
                                                      
                                                        <div class="d-flex flex-column justify-content-center">
                                                          <h6 class="mb-0 text-sm"><a href="{{url_for('core.editrate',rate_id=rate.id)}}">{{rate.code}}</a></h6>
                                                        </div>
                                                      </div>
                                                    </td>
                                                    <td>
                                                      <p class="text-xs font-weight-bold mb-0">{{ rate.cost }}</p>
                                                    </td>
                                                    <td>
                                                        <p class="text-xs font-weight-bold mb-0">{{ rate.country }}</p>
                                                      </td>
                                                      <td>
                                                        <p class="text-xs font-weight-bold mb-0">{{ rate.route }}</p>
                                                      </td>
                                                
                                                    <td class="align-middle">
                                                      <a href="javascript:;" class="text-secondary font-weight-bold text-xs" data-toggle="tooltip" data-original-title="Edit user">
                                                        
                                                      
                                                    
                                                    </td>
                                                  </tr>
                                                  <tr>
                                                    {% endfor %}
                                                    
                                                </tbody>
                                              </table>
                                            </div>
                                          </div>
                                        </div>
                                      </div>
                                    </div>
                              <br>
{% endblock %}