{% extends "base.html" %}
{% block content %}
    {# Features #}


      <div class="row mt-4">
        <div class="container rounded bg-white mt-5 mb-5">

          <div class="card-body shadow-lg rounded ">
          <div class="session-title row">
               <h2>Edit Contact</h2>
             
               <form action="{{ url_for('core.editcontact',contact_id=contact.id,next=url_for('core.index')) }}" method="post" enctype="multipart/form-data">
                {{ form.hidden_tag() }}
                <div class="form-group">
                    {{ form.name.label(class="form-group") }}
                    {{form.name(class='form-control')  }}
                  </div>
                  <div class="form-group">
                    {{ form.number.label(class="form-group") }}
                    {{form.number(class='form-control')  }}
                  </div>
                  <label for="phonebook">Pick a phonebook</label>
                    <select name="phonebook" id="phonebook" class="form-control" required>
                        <option value="{{contact.phonebooks.id}}" style="display: none;">{{contact.phonebooks.name}}</option>
                        {% for phonebooky in phonebooks %}
                        <option value="{{phonebooky.id}}">{{phonebooky.name}}</option>
                        {% endfor %}
                  <div class="form-group">
                    {{ form.submit(class="btn btn-outline-info") }}
                </div>
              </div>
            </form>
            
                          
                  </div>
                </div>
                  <h2></h2>
             
                     
                   </div>
                   
                   
              </div>
               
               
             
           </div>
      </div>    
    </div>









         
        </div>
        </div>
      </div>
    </div>

    
    
      
     

    
{% endblock %}
