{% extends "base.html" %}
{% block content %}
    {# Features #}
   
<br>


      <div class="row mt-4">
        <div class="container rounded bg-white mt-5 mb-5">

          <div class="card-body shadow-lg rounded ">
          <div class="session-title row">
               <h2>Edit Phonebook</h2>
             
               <form action="{{ url_for('core.editphonebook',phonebook_id=phonebook.id,next=url_for('core.index')) }}" method="post" enctype="multipart/form-data">
                {{ form.hidden_tag() }}
                <div class="form-group">
                    {{ form.name.label(class="form-group") }}
                    {{form.name(class='form-control')  }}
                  </div>
                  <div class="form-group">
                    {{ form.submit(class="btn btn-outline-info") }}
                </div>
              </div>
            </form>
            
                          
                  </div>
                </div>
                  <h2></h2>
             
                     
                   </div>
                   
                   
              </div>
               
               
             
           </div>
      </div>    
    </div>






             







         
        </div>
        </div>
      </div>
    </div>

    
    
      
     

    
{% endblock %}
